{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Add new bad domain</h3>
        <form method="post">
            <div class="form-group">
                <label for="badDomainName">Bad domain name:</label>
                <input class="form-control" id="badDomainName">
            </div>
            <button id="btnSubmit" class="btn btn-default">Submit</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $('#btnSubmit').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: '{{ path('add_new_bad_domain') }}',
                    data: {
                        'domain-name': $('#badDomainName').val()
                    },
                    dataType: "json",
                    success: function (response) {

                        if (response.success) {
                            $('.container').prepend('<div style="margin-top: 20px;" class="alert alert-success" role="alert">' + response.message + '</div>');
                            setTimeout(function () {
                                var route = "{{ path('show_bad_domains') }}";
                                window.location = route;
                            }, 2000);

                            return false;
                        }

                        $('.container').prepend('<div style="margin-top: 20px;" class="alert alert-danger" role="alert">' + response.message + '</div>');

                        return false;
                    }
                });

                return false;
            })
        })
    </script>
{% endblock %}