{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Bad domains list</h3>
        <h2>
            <a href="{{ path('add_new_bad_domain') }}">Add new</a>
        </h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            {% for badDomain in badDomains %}
                <tr>
                    <td>{{ badDomain.id }}</td>
                    <td>{{ badDomain.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}