{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if click.badDomain %}
            <div style="margin-top: 20px;" class="alert alert-danger" role="alert">
                <h4>
                    Element with ID {{ click.id }} in bad domain list!
                </h4>
            </div>

            <script>
                $(document).ready(function () {
                    setTimeout(function () {
                        window.location.replace("http://google.com");
                    }, 5000);
                })
            </script>
        {% else %}
            <h3>Element with ID {{ click.id }} already exist!</h3>
        {% endif %}

        <h3><a href="{{ path('homepage') }}">To full list</a></h3>
    </div>
{% endblock %}