{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>
            <a href="{{ path('show_links_list') }}">
                Links Page
            </a>
        </h3>
        <h2>Clicks link</h2>

        <table id="clicksListTable" class="display table">
            <thead>
            <tr>
                <th>ID</th>
                <th>User Agent</th>
                <th>ip</th>
                <th>Referer</th>
                <th>Param1</th>
                <th>Param2</th>
                <th>Error</th>
                <th>BadDomain</th>
            </tr>
            </thead>
            <tbody>
            {% for existedClick in existedClicks %}
                <tr>
                    <td>{{ existedClick.id }}</td>
                    <td>{{ existedClick.userAgent }}</td>
                    <td>{{ existedClick.ip }}</td>
                    <td>{{ existedClick.ref }}</td>
                    <td>{{ existedClick.param1 }}</td>
                    <td>{{ existedClick.param2 }}</td>
                    <td>{{ existedClick.error }}</td>
                    <td>{{ existedClick.badDomain }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready( function () {
            $('#clicksListTable').DataTable();
        } );
    </script>
{% endblock %}