{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>
            <a href="{{ path('click_request', {'param1' : 'param1_1', 'param2' : 'param1_2'}) }}">
                link 1
            </a>
        </h3>
        <h3>
            <a href="{{ path('click_request', {'param1' : 'param2_1', 'param2' : 'param2_2'}) }}">
                link 2
            </a>
        </h3>

        <h3>
            <a href="{{ path('click_request', {'param1' : 'param3_1', 'param2' : 'param3_1'}) }}">
                link 3
            </a>
        </h3>

        <h3>
            <a href="{{ path('click_request', {'param1' : 'param4_1', 'param2' : 'param4_2'}) }}">
                link 4
            </a>
        </h3>

        <h4><a href="{{ path('homepage') }}">Homepage</a></h4>
    </div>
{% endblock %}