{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div style="margin-top: 20px;" class="alert alert-success" role="alert">
            <h4>
                Element has successfully added
            </h4>
        </div>

        <table class="table">
            <tr>
                <th>ID</th>
                <th>User Agent</th>
                <th>ip</th>
                <th>Referer</th>
                <th>Param1</th>
                <th>Param2</th>
                <th>Error</th>
                <th>BadDomain</th>
            </tr>
            <tr>
                <td>{{ clickInfo.id }}</td>
                <td>{{ clickInfo.userAgent }}</td>
                <td>{{ clickInfo.ip }}</td>
                <td>{{ clickInfo.ref }}</td>
                <td>{{ clickInfo.param1 }}</td>
                <td>{{ clickInfo.param2 }}</td>
                <td>{{ clickInfo.error }}</td>
                <td>{{ clickInfo.badDomain }}</td>
            </tr>
        </table>

        <h3><a href="{{ path('homepage') }}">To full list</a></h3>
    </div>
{% endblock %}